.mt20{
  margin-top: 20px;
}
.mr10{
  margin-right: 10px;
}
.m20{
 margin: 20px; 
}
.inline{
  display: inline;
}

// 盒模型
.flexbase{
  display: flex;
}
.flexaic{
  align-items: center;
}
.flex {
  @extend .flexbase;
  &-con {
     @extend .flexbase;
     @extend .flexaic;
  }
  &-center {
     @extend .flexbase;
    justify-content: center;
     @extend .flexaic;
  }
  &-between {
     @extend .flexbase;
    justify-content: space-between;
     @extend .flexaic;
  }
  &-dir {
     @extend .flexbase;
    flex-direction: column;
  }
  &-around {
    @extend .flexbase;
    justify-content: space-around;
     @extend .flexaic;
  }
}

.fr{
  float: right;
}
.fl{
  float: left;
}
.tac{
  text-align: center;
}
